_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/  
